div.center
{
    margin-top: 150px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: 25px Arial;
    color: #4b4b4b;
}

div.center_text
{
    background-color: #d7d7d7;
    width: 700px;
    height: 300px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    box-shadow: 3px 3px 15px #bfbfbf;
    margin-top: 25px;
}
div.center p#vues_bd
{
    margin-top: 50px;
    margin-bottom: 100px;    
}

div.center p#vues_bd
{
    margin-top: 20px;
    margin-bottom: 30px;    
}

div.center_text a
{
    text-decoration: none;
    background-color: #bfbfbf;
    padding: 10px;
    border-radius: 3px;
    color: #4b4b4b;
    font-size: 20px;
}

div.center_text a:hover
{
    background-color: #969393;
}

label
{
    width: 160px;
    text-align: left;
    font-size: 19px;
    display: inline-block;
}

input
{
    width: 180px;
    height: 25px;
}

input[type=submit]
{
    margin-top: 10px;
    width: 130px;
    height: 35px;
}

.erreur
{
    font-size: 20px;
    color: red;
    margin-bottom: 10px;
}